@font-face {
  font-family: "iconfont"; /* Project id 3164111 */
  src: url('iconfont.woff2?t=1643260611411') format('woff2'),
       url('iconfont.woff?t=1643260611411') format('woff'),
       url('iconfont.ttf?t=1643260611411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-ashbin:before {
  content: "\e666";
}

.icon-arrow-right:before {
  content: "\e667";
}

.icon-browse:before {
  content: "\e668";
}

.icon-arrow-double-left:before {
  content: "\e669";
}

.icon-arrow-double-right:before {
  content: "\e66a";
}

.icon-camera:before {
  content: "\e66b";
}

.icon-close:before {
  content: "\e66c";
}

.icon-direction-right:before {
  content: "\e66d";
}

.icon-direction-up:before {
  content: "\e66e";
}

.icon-direction-left:before {
  content: "\e66f";
}

.icon-picture:before {
  content: "\e67c";
}

.icon-search:before {
  content: "\e67d";
}

.icon-select:before {
  content: "\e67e";
}

.icon-task:before {
  content: "\e67f";
}

.icon-user:before {
  content: "\e682";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-comment-filling:before {
  content: "\e689";
}

.icon-check-item-filling:before {
  content: "\e68a";
}

.icon-clock-filling:before {
  content: "\e68b";
}

.icon-decline-filling:before {
  content: "\e68c";
}

.icon-news-filling:before {
  content: "\e68d";
}

.icon-smile-filling:before {
  content: "\e68e";
}

.icon-picture-filling:before {
  content: "\e68f";
}

.icon-user-filling:before {
  content: "\e690";
}

.icon-work-filling:before {
  content: "\e691";
}

.icon-task-filling:before {
  content: "\e692";
}

.icon-map-filling:before {
  content: "\e693";
}

.icon-prompt-filling:before {
  content: "\e694";
}

.icon-cry-filling:before {
  content: "\e695";
}

.icon-home-filling:before {
  content: "\e696";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-a-zu7998:before {
  content: "\e615";
}

.icon-a-zu6540:before {
  content: "\e617";
}

.icon-a-zu79981:before {
  content: "\e619";
}

.icon-kecheng:before {
  content: "\e62c";
}

.icon-daojishi:before {
  content: "\e62d";
}

.icon-dizhi:before {
  content: "\ed91";
}

.icon-xihuan:before {
  content: "\ed97";
}

.icon-bangong:before {
  content: "\ed98";
}

.icon-shanchu:before {
  content: "\ed9a";
}

.icon-paizhao:before {
  content: "\ed9f";
}

.icon-youjian:before {
  content: "\eda0";
}

.icon-xiaoxi:before {
  content: "\eda1";
}

.icon-gerenzhongxin:before {
  content: "\eda2";
}

.icon-jiage:before {
  content: "\eda3";
}

.icon-yejian:before {
  content: "\eda4";
}

.icon-dingdan:before {
  content: "\eda5";
}

.icon-erweima:before {
  content: "\eda6";
}

.icon-kuaisu:before {
  content: "\eda7";
}

.icon-xiangce:before {
  content: "\eda8";
}

.icon-jiangbei:before {
  content: "\eda9";
}

.icon-yinliang:before {
  content: "\edaa";
}

.icon-shouji:before {
  content: "\ede0";
}

.icon-xiangji:before {
  content: "\ede4";
}

.icon-KTV:before {
  content: "\ede7";
}

.icon-zhinengshoubiao:before {
  content: "\edea";
}

.icon-diannao:before {
  content: "\edeb";
}

.icon-Upan:before {
  content: "\edee";
}

.icon-chexiao:before {
  content: "\ee15";
}

.icon-biaoji:before {
  content: "\ee16";
}

.icon-dian:before {
  content: "\ee17";
}

.icon-fenlei:before {
  content: "\ee18";
}

.icon-huanfu:before {
  content: "\ee19";
}

.icon-kaoqin:before {
  content: "\ee1a";
}

.icon-maikefeng:before {
  content: "\ee1b";
}

.icon-guanggaotupian:before {
  content: "\ee1c";
}

.icon-morentouxiang:before {
  content: "\ee1d";
}

.icon-mima:before {
  content: "\ee1e";
}

.icon-fuwuqi:before {
  content: "\ee1f";
}

.icon-tuichu:before {
  content: "\ee20";
}

.icon-wenjianjia:before {
  content: "\ee21";
}

.icon-shouru:before {
  content: "\ee22";
}

.icon-zhinanzhen:before {
  content: "\ee23";
}

.icon-youjian1:before {
  content: "\ee24";
}

.icon-zhongzuo:before {
  content: "\ee25";
}

.icon-suofang-youxiang:before {
  content: "\ee26";
}

.icon-suofang-zuoxiang:before {
  content: "\ee27";
}

.icon-mianxingshangjiantou:before {
  content: "\ee28";
}

.icon-mianxingxiajiantou:before {
  content: "\ee29";
}

.icon-mianxingyoujiantou:before {
  content: "\ee2a";
}

.icon-mianxingzuojiantou:before {
  content: "\ee2b";
}

.icon-xianxingjiayi:before {
  content: "\ee2c";
}

.icon-mianxingjianyi:before {
  content: "\ee2d";
}

.icon-xianxingjianyi:before {
  content: "\ee2e";
}

.icon-tuwengongge-xianxing:before {
  content: "\ee2f";
}

.icon-tuwenliebiao-mianxing:before {
  content: "\ee30";
}

.icon-tuwenliebiao-xianxing:before {
  content: "\ee31";
}

.icon-tuwengongge-mianxing:before {
  content: "\ee32";
}

.icon-xianxingshangjiantou:before {
  content: "\ee33";
}

.icon-xianxingxiajiantou:before {
  content: "\ee34";
}

.icon-xiaoshangjiantou:before {
  content: "\ee35";
}

.icon-xiaoxiajiantou:before {
  content: "\ee36";
}

.icon-xiaoyoujiantou:before {
  content: "\ee37";
}

.icon-xiaozuojiantou:before {
  content: "\ee38";
}

.icon-shuangxianshangjiantou:before {
  content: "\ee39";
}

.icon-shuangxianxiajiantou:before {
  content: "\ee3a";
}

.icon-shuangxianyoujiantou:before {
  content: "\ee3b";
}

.icon-shuangxianzuojiantou:before {
  content: "\ee3c";
}

.icon-gou:before {
  content: "\ee3d";
}

.icon-cha:before {
  content: "\ee3e";
}

.icon-shoucang-moren:before {
  content: "\ee3f";
}

.icon-shoucang-xuanzhong:before {
  content: "\ee40";
}

.icon-meiyuan:before {
  content: "\ee41";
}

.icon-renminbi:before {
  content: "\ee42";
}

.icon-xihuan-xuanzhong:before {
  content: "\ee43";
}

.icon-xihuan-moren:before {
  content: "\ee44";
}

.icon-jingshi:before {
  content: "\ee45";
}

.icon-tishi:before {
  content: "\ee46";
}

.icon-bangzhu:before {
  content: "\ee47";
}

.icon-suoxiao:before {
  content: "\ee48";
}

.icon-fangda:before {
  content: "\ee49";
}

.icon-aiqiyi:before {
  content: "\ee4a";
}

.icon-weixin:before {
  content: "\ee4b";
}

.icon-youku:before {
  content: "\ee4c";
}

.icon-weibo:before {
  content: "\ee4d";
}

.icon-zhifubao:before {
  content: "\ee4e";
}

.icon-Instagram:before {
  content: "\ee4f";
}

.icon-QQ:before {
  content: "\ee50";
}

.icon-YouTube:before {
  content: "\ee51";
}

.ic_search_tab:before{content:"\e615"}；
.Navbar_logo:before{content:"\e614"}；
